    server {
        listen              443 ssl;
#        server_name         localhost;
        ssl_certificate     /etc/nginx/localhost.crt;
        ssl_certificate_key /etc/nginx/localhost.key;

        location /prometheus {
            proxy_pass http://prometheus:9090/;
                rewrite  ^/prometheus/(.*)  /$1 break;
                proxy_set_header   Host $host;

        }

	location /grafana {
		proxy_pass http://grafana:3000/;
	        rewrite  ^/grafana/(.*)  /$1 break;
   	        proxy_set_header   Host $host;
	}

    }
